body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    color: #007219;
    flex-shrink: 0;
    font-size: 72px;
    margin-top: 50px;
}

.go {
    font-size: 72px;
}

.container {
    display: flex;
}

p {
    font-size: 20px;
    color:#009c22;
    font-weight: bold;
}

p1 {
    font-size: 64px;
    color:#009c22;
    font-weight: bold;
    margin: 50px;
}

button {
    width: 150px;
    border-radius: 10px;
    padding:8px 25px;
    border: 2px white solid;
    background-color: #009c22;
    color:white;
    font-size: large;
    margin: 10px;
}